/* Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* WRAPPER */
.wrapper {
    width: 100%;
}

.logo img {
    height: 100px; 
    width: auto;
    display: block;
}

/* NAV */
.nav {
    background-color: #2f2354;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.nav h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav ol {
    margin: 0 auto; 
    padding: 0;
}

.nav ol li {
    display: inline-block;
    margin: 0 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    transition: 0.2s;
}

.nav a:hover {
    color: #f7931e;
    transform: translateY(-2px);
}

/* HERO */
.hero {
    height: 600px;
    background: url("../images/Hero-Image.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(231, 177, 1, 0.158);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.purple {
    color: #2f2354;
    font-weight: bold;
}

.orange {
    color: #f7931e;
    font-weight: bold;
}

.hero p {
    font-weight: bold;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background-color: #f7931e;
    padding: 12px 25px;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;

    box-shadow: 0 5px 0 #c76b00;

    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #ffad42;
    transform: translateY(2px);
    box-shadow: 
        0 3px 0 #c76b00,
        0 0 12px #ffad42
        
}

.btn:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #c76b00;
}

.small {
    margin-top: 15px;
}

/* CARDS */
.cards {
    background-color: #e5e8df;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px;
}

.card {
    background-color: #dcdcdc;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.card-img {
    height: 220px;
    border-radius: 10px 10px 0 0;
}

.about-img {
    background: url("../images/XY-Mental-Health.png") center/cover no-repeat;
    background-color: black;
    background-size: 80%;
}

.donate-img {
    background: url("../images/Donate.jpeg") center/cover no-repeat;
}

.contact-img {
    background: url("../images/Contact-Us.avif") center/cover no-repeat;
}

.card-title {
    background-color: #2f2354;
    color: white;
    padding: 15px;
    font-weight: bold;
}

/* ABOUT PAGE */

.about-header,
.about-divider {
    background-color: #dcdcdc;
    text-align: center;
    padding: 25px 0;
}

.about-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.about-divider h3 {
    margin: 0;
    font-size: 1.2rem;
}

.about-block {
    background-color: #e5e8df;
    padding: 60px 120px;
    text-align: center;
}

.about-block h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.about-block p {
    max-width: 700px;
    margin: 0 auto 20px auto;
    font-size: 0.85rem;
    line-height: 1.6;
}

/* SERVICES PAGE */

.services {
    background-color: #e5e8df;
    padding: 60px 120px;
}

.services h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 50px;
}

.services-top {
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
}

.services-img img {
    width: 250px;
    border-radius: 12px;
}

.services-text {
    flex: 1;
}

.services-text h3 {
    margin-top: 25px;
}

.services-text p {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.services-bottom {
    display: flex;
    gap: 50px;
}

.groups-text {
    flex: 1;
}

.groups-text h3 {
    margin-bottom: 15px;
}

.groups-text h4 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.groups-text ul {
    padding-left: 18px;
    margin: 5px 0;
    font-size: 0.85rem;
}

.groups-text li {
    margin-bottom: 4px;
}

.groups-images {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.groups-images img {
    width: 280px;
    border-radius: 12px;
}

.services-quote {
    background-color: #dcdcdc;
    text-align: center;
    padding: 25px;
    font-style: italic;
}

/* CONTACT PAGE */
.contact-hero {
    height: 750px;
    background: url("../images/Hero-Image (2).jpg") center top/cover no-repeat;
}

.signup-section {
    display: flex;
    gap: 80px;
    padding: 60px 120px;
    background-color: #e5e8df;
    align-items: center;
    flex-wrap: wrap;
}


.signup-left,
.signup-right {
    flex: 1 1 400px;
    min-width: 0;
}

.signup-right {
    display: flex;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.signup-right img {
    width: 100%;
    height: auto; 
    max-height: 500px; 
    object-fit: cover; 
    border-radius: 12px;
}

.signup-form .btn {
    width: 160px;
    margin-top: 15px;
    margin-left: auto; 
    text-align: center;
    display: block;
}

.contact-form input,
.contact-form textarea {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
    outline: none;
}

.contact-form textarea {
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .btn {
    display: block;
    width: 160px;  
    margin-top: 15px;
    margin-left: auto; 
    text-align: center;
}

.map-container {
    width: 100%;
    height: 500px;
    overflow: scroll; 
    border-radius: 12px;
}

.map-container iframe {
    width: 1200px; 
    height: 600px;
    border: none;
}

.location {
    background-color: #e5e8df;
    text-align: center;
    padding: 40px 120px;
}

.location-text {
    font-size: 0.85rem;
    margin-top: 25px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.location-text p {
    margin-bottom: 15px;
}

.contact-bottom {
    background-color: #e5e8df;
    display: flex;
    gap: 60px;
    padding: 60px 120px;
}

.stay-connected {
    flex: 1;
    font-size: 0.85rem;
    line-height: 1.6;
}

.stay-connected p {
    margin-bottom: 15px;
}

.message-us {
    flex: 1;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row input {
    flex: 1;
}

/* DONATE PAGE */
.donate-section {
    display: flex;
    gap: 60px;
    padding: 60px 120px;
    background-color: #e5e8df;
}

.donate-left {
    flex: 1;
}

.donate-left h2 {
    margin-bottom: 20px;
}

.donate-left h3 {
    margin-top: 20px;
}

.donate-left p {
    font-size: 0.85rem;
    line-height: 1.6;
}

.donate-left img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    margin: 20px 0;
}

.donate-left ul {
    font-size: 0.85rem;
    padding-left: 18px;
}

.donate-box {
    flex: 1;
    background-color: #dcdcdc;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #2f2354;
    text-align: center;
}

.donation-amounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.donation-amounts input {
    display: none;
}

.donation-amounts label {
    padding: 10px;
    text-align: center;
    border: 1px solid #ff8c42;
    background: #ff8c42;        /* orange */
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
    display: block;
}

.donation-amounts label:hover {
    background: #ffb37a;
    border-color: #ffb37a;
}

.donation-amounts input:checked + label {
    background: #ffb37a;        /* light orange */
    border-color: #ff8c42;
    color: #000;
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.payment-methods button {
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

    transition: all 0.15s ease;
    box-shadow: 0 4px 0 rgba(0,0,0,0.3);
}

.visa-btn {
    background-color: red;
    color: white;
}

.paypal-btn {
    background-color: #2f2354;
    color: white;
}

.payment-methods button:hover {
    transform: translateY(-2px);
}

.payment-methods button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.donate-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.donate-form input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.row {
    display: flex;
    gap: 10px;
}

.donate-btn {
    margin-top: 15px;
}

.thank-you {
    margin-top: 15px;
    font-weight: bold;
}

/* THANK YOU */
.thankyou-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e8df;
    text-align: center;
}

.thankyou-box {
    background: #dcdcdc;
    padding: 60px;
    border-radius: 12px;
    border: 2px solid #2f2354;
    max-width: 500px;
}

.thankyou-box h1 {
    margin-bottom: 20px;
}

.thankyou-box p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* FOOTER */
.footer {
    background-color: #2f2354;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer-col,
.footer-left {
    flex: 1;
}

.footer-logo {
    height: 100px; 
    width: auto;
    display: block;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
}

.social-icons img:hover {
    transform: scale(1.15);
    filter: brightness(1.3);
}

.footer h3 a {
    display: inline-block; 
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.footer h3 a:hover {
    color: #f7931e;
    transform: translateX(4px); 
}

.footer-link {
    display: block; 
    color: white;
    text-decoration: none;
    margin: 5px 0;
    font-size: 0.9rem;
    transition: 0.2s;
}

.footer-link:hover {
    color: #f7931e;
    transform: translateX(4px);
}

.footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}